html {
  text-align: center;
  font-family: Helvetica;
}



.header1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.header2 {
  background-image: url("background.png");
}

.link {
  font-size: 18px;
  color: white;
}

.bodyheader {
  font-size: 32px;
  font-weight: bold;
}

.subheader {
  font-size: 23px;
  font-weight: bold;
  background-color: white;
}

p {
  font-size: 14px;
  background-color: white;
}

.subheader2 {
  font-size:23px;
  font-weight: bold;
  color: white;
  background-image: url("background.png");
}

.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
